@import "tailwindcss";

:root {
  --bg: #0f0038;
  --text: #a59eba;
  --text-h: #c8b5fd;
  --btn: #a17800;
  --border: #ffb700;
  --btn-hover: #ffd34e;
  --input: #ff5757;
  --error: #130048;
}

body {
  @apply 
    bg-(--bg)
    text-(--text)
    text-center
  ;
}

h1, h2, h3 {
  @apply 
    text-(--text-h)
    text-3xl
  ;
}

p {
  @apply 
    text-sm
  ;
}

section {
  @apply 
    min-h-screen gap-8
    flex flex-col justify-center items-center
  ;
}

.panel {
  @apply 
    flex gap-2
  ;
}

#numberInput {
  @apply 
    border border-(--border) shadow-md
    rounded-lg bg-(--input) p-4 w-[50%]
  ;

}

#calculateBtn {
  @apply 
    rounded-lg border shadow-md
    bg-(--btn) hover:bg-(--btn-hover)
    p-4 w-[50%] hover:text-black
  ;
}

#result {
  @apply 
    px-10 border bg-(--input) shadow-md
    text-[6rem] rounded-xl text-(--border)
  ;
}

#error {
  @apply
    text-(--error) text-base
  ;
}